body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #434242;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
