* {
  font-size: 1.0rem;
  font-family: 'Montserrat', sans-serif;
}

#loginButton {
  width: 150px;
  border-radius: 25px;
}

#logoutButton {
  width: 120px;
  border-radius: 25px;
}

#registerButton {
  width: 150px;
  border-radius: 25px;
}

#loginSubmitButton {
  width: 16.3rem;
}

head {
  background-color: grey;
}

#navBarnavBar {
  color: white;
}

// #loginNavbar {}

#learnMoreButton {
  border-radius: 25px;
}

#heroSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  #groupForm {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

#groupSearchBar {
  width: 10em
}

#searchBar {
  position: absolute;
}

#searchBarContainer {
  position: relative;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important
}