@import 'config.styles';
@import 'utilities.styles';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  .hide-mobile {
    display: none;
  }

  .menu {
    width: 20px;
    margin-top: 50%;
  }

  ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
  }

  li a {
    color: $primary-color;
    margin: 0 0.25rem;
    color: #d1d0d0;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(52, 59, 63);

    &:hover {
      color: green;
    }
  }
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -0.5em;
  text-align: right;
  padding: 0 1.4em;

  img {
    width: 15px;
    cursor: pointer;
  }
}

// Hero / Landing
.hero {
  position: relative;
  background: $dark-background center center/cover;
  height: 100vh;

  &-inner {
    color: $primary-color;
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 0.8em 0.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .buttons {
    font-family: 'Montserrat', sans-serif;
    background-color: #008000;
    border: none;
    width: calc(100% - 0.8em);
    display: block;
    color: #d1d0d0;
    border-radius: 20px;
    padding: 0.5em;
    font-size: 1em;
    margin: 3% auto 7%;
    position: relative;
    z-index: 4;
    cursor: pointer;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2),
      0 3px 15px 0 rgba(0, 0, 0, 0.19);
  }
}
